<h2>Change Password</h2>

<div class="input-group mb-3">
  <input type="text" class="form-control" id="password" [(ngModel)]="password" placeholder="password">
</div>

<div class="input-group mb-3">
  <input type="text" class="form-control" id="password-confirmation" [(ngModel)]="passwordConfirmation" placeholder="password">
</div>

<div class="container-fluid btn-group mb-3 p-0">
  <button type="button" class="btn btn-dark" (click)="submit()">Change Password</button>
</div>

<div class="alert alert-danger" *ngIf="valid">
  <p><b>Passwörter stimmen nicht überein oder erfüllen nicht die mindest länge</b></p>
</div>

