aside.sidebar {
  margin-left: 20%;
}

div.sidebar-header {
  width: 100%;
  text-align: center;
  padding: 20px 0px 20px 0px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background: lightgray;
}

div.sidebar-item {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #F8F8F8;
  user-select: none;
}

div.sidebar-item:hover {
  background: #343A40;
  color: white;
}

p {
  margin: 0;
}

img.sidebar-item-profile {
  height: 30px;
  width: 30px;
}

div.sidebar-item:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

img.sidebar-logo {
  height: 50px;
}

.profile-item{

}
.profile-detail{
  list-style-type: none;

}
